.table-image {
  td,
  th {
    vertical-align: middle;
  }
}
.table-container {
  margin-top: 10px;
  max-height: 500px;
  overflow: auto;
}
th.mat-header-cell {
  background: #a9b7c7;
  color: black;
  font-weight: normal;
}
.mat-header-cell,
.mat-cell {
  min-width: 150px;
}

.mat-form-field {
  width: 350px;
}

.cardimage {
  height: 150px;
}

.list {
  min-width: 180px;
  text-align: center;
  margin-bottom: 20px;
}

table {
  width: 100%;
}
.view-port {
  height: 500px;
}
.mat-card.main-card {
  background-color: #f3f5f7;
}
